.row.agree-terms-page
	.container
		.row{:style=>"margin-left:0px;"}
			.span8.offset2
				= render layout: 'form' do |f|
					.row
						- if session[:submission_type] == 'project'
							.span10= raw get_option(:project_submission_agree_terms)	
						- else
							.span10= raw get_option(:product_submission_agree_terms)	
					.row
						.span4
							%label I have read and agree to the terms of this competition.
						.span1
							%label.checkbox
								%input.accept-agree{:type=>"checkbox"} Yes
:javascript
	$(".btn-continue").attr("disabled","disabled");