- @current_section = :submission
.row.select-submission-page
	.container
		.row{:style=>"margin-left:0px;"}
			.span9.content-page
				.row.first-row
					%a{:href=>"#", :style=>""} 
						.checkout-page-title
				.row.second-row
					%strong Ready to check out? Select which submissions you'd like to complete below
					%br/
					%br/
					%p Once you check out, you will no longer be able to modify a submission.
				= render layout: 'form' do |f|
					.row
						.span5.submission-box.offset2
							=f.fields_for :order_submissions, @submissions, :builder => CustomFormBuilder do |o_sub|
								%label.checkbox
									= o_sub.check_box :submission_id, {:saved_values => [f.object.order_submissions, ["id", "title"]]}, o_sub.object.id, '-1'
									%label= o_sub.object.title


:javascript
	$('div.submission-box input[type="hidden"]').each(function(){
		if($(this).val()!=-1){
			 $(this).remove();
		}
	});

	$('input[type="checkbox"]').customInput();