.row.new-user-page
	.container
		- model_class = User
		.page-header
			%h1.page-title{:style=>'margin-top: 20px;'} PLEASE
			%h1.page-title{:style=>'margin-left: 140px;'} REGISTER BELOW
		= render :partial => "form"
