.row.banner-box
	.container
		.span4
			=link_to image_tag('logo.png'), root_url
		.span4.search-box
			.row.search-form
				%ul
					%li				
						%form.navbar-search{"accept-charset" => "UTF-8", :action => "/home/search_submissions", :method => "get", :style => "margin-top:0px;float: right;"}
							%div{:style => "margin:0;padding:0;display:inline"}
								%input{:name => "utf8", :type => "hidden", :value => "✓"}/
							%input#search.search-query{:name => "search", :placeholder => "Keyword", :style => "width:0px;padding-left:26px;border-radius:15px;float:right;", :type => "text"}/
							.icon-search{:style => "position:absolute;top:7px;left:11px;cursor:pointer;"}
					%li
						%a.account{:href=>"javascript://"}
							- if current_user
								.in_avatar
							- else
								.out_avatar
			.row.account-controls
				%ul
					%li.first
						- if current_user
							= link_to "logout", :logout
						- else
							= link_to "login", :new_user_session
					%li
						= link_to "register", :new_user

:javascript
	$('div.icon-search').click(function(){
		$('#search').animate({
			width: 115
		})
		$('#search').focus();
	})
	$('#search').blur(function(){
		$('#search').animate({
			width: 0
		})
	})