.row.banner-box
	.container
		.span4
			=link_to image_tag('logo.png'), root_url
		.span4.search-box
			.row.search-form
				%ul
					%li				
						%form.navbar-search{"accept-charset" => "UTF-8", :target => '_blank', :action => "http://www.interiordesign.net/search/index.php", :method => "get", :style => "margin-top:0px;float: right;"}
							%div{:style => "margin:0;padding:0;display:inline"}
								%input{:name => "utf8", :type => "hidden", :value => "✓"}/
							%input#search.search-query{:name => "search", :placeholder => "", :style => "padding-left:20px;width:0px;border-radius:15px;float:right;", :type => "text"}/
							.icon-search
					%li
						- if current_user
							%a.account{:href=> edit_user_path(current_user)}
								.in_avatar
						- else
							%a.account{:href=> new_user_session_path}
								.out_avatar
			.row.account-controls
				%ul
					%li.first
						- if current_user
							= link_to "Logout", :logout
						- else
							= link_to "Login", :login
					%li
						= link_to "Register", :signup

:javascript
	$('div.icon-search').click(
		function(){
			$('#search').css('padding-left','30px');
			$('#search').animate({
				width: 115
			})
			$('#search').focus();
		}		
	);

	$('#search').blur(function(){
		$('#search').animate({
			width: 0
		})
		$(this).css('padding-left','20px');
	})