- @current_section = :event


.container.event-page
	.span9.content-page
		.row.first-row
			%a{:href=>"#", :style=>""} 
				.event-page-title
		.row.second-row
			.video-content
				<embed src="http://c.brightcove.com/services/viewer/federated_f8/1569972709" bgcolor="#FFFFFF" flashVars="videoId=2016415999001&playerId=1569972709&viewerSecureGatewayURL=https://console.brightcove.com/services/amfgateway&servicesURL=http://s…;" base="http://admin.brightcove.com" name="flashObj" width="700" height="593" seamlesstabbing="false" type="application/x-shockwave-flash" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
		.row.third-row
			%p Join hosts Cindy Allen, Editor in Chief, and Mark Strauss, President and Publisher, to honor the Best Projects and Products of 2012.
			%p
				%strong December 5, 2013
				(the day following <i>Interior Design</i>'s Hall of Fame event)
				%br
				Tickets go on sale September 2013
			%br
			%p
				IAC Building, 555 W 18th St
				%br
				New York City
			%p
				Doors open at 5:00pm
				%br
				%strong 5:15-6:15 pm: Act 1, Best of Year/Products
				%br
				%strong 7:15-8:00 pm: Act 2, Best of Year/Projects
				%br
				Cocktails until 9:00 pm