.container.event-page
	.span9.content-page
		.row.first-row
			%a{:href=>"#", :style=>""} 
				.event-page-title
		.row.second-row
			.video-content
		.row.third-row
			%p Join Hosts Cindy Allen, Editor in Chief, and Mark Strauss, President And Publisher, to Honor the Best Projects and Products of 2012.
			%label
				%strong December 6,2013
				(the day following 
				%i Interior Design's 
				Hall of Fame event)
			%p Tickets go on sale September 2013
			%br/
			%br/
			%label.black IAC Building, 555 W 18th St
			%label.black New York City
			%p Doors open at 5:00pm
			%strong 5:15-6:15 pm: Act 1, Best of Year/Products
			%strong 7:15-8:00 pm: Act 2, Best of Year/Projects
			%p Cocktails until 9:00 pm
			%br/
			%br/
			%br/
			%br/
			%br/
			