.container.home-page
	.row.first-row
		#slider
			#layerslider-container
				#layerslider{:style => "width: 960px; height: 480px; margin: 0 auto;"}
					.ls-layer{:style => "slidedelay: 7000;"}
						%img.ls-tn{:src => "assets/slider_images/	tn_1_1.jpg"}/
						%img.ls-bg{:src => "assets/slider_images/	l12.jpg"}/
						%img#sss.ls-s4{:src => "assets/slider_images/	l13.png", :style => "top: -101px; left: 105px; slidedirection : left;"}/
						%h1.ls-s5.l1-s1{:style => "top:200px; left: 303px; slidedirection : top;"}
							LayerSlider
						%h1.ls-s2.l1-s1b{:style => "top:200px; left: 303px; slidedirection : fade; slideoutdirection : fade;durationin : 1700; durationout : 2700; easingin : easeInOutQuad; easingout : easeInOutQuad; delayin : 1500; showuntil : 1600;"}
							LayerSlider
						%img.ls-s7{:src => "assets/slider_images/	l16.png", :style => "top: 234px; left: -21px; slidedirection : bottom;"}/
						%img.ls-s2{:src => "assets/slider_images/	l17.png", :style => "top: -219px; left: 548px; slidedirection : top;"}/
						%h2.ls-s2.l1-s3{:style => "top:330px; left: 400px; slidedirection : bottom; slideoutdirection : right; durationin : 2000; durationout : 1000; easingin : easeOutElastic; easingout : easeInOutQuint; delayin : 1000; showuntil : 2000;"}
							The smartest slideshow plugin
						%h2.ls-s3.l1-s4{:style => "top:373px; left: 400px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1000; easingin : easeOutBack; easingout : easeInOutQuint; delayin : 1000; showuntil : 500;"}
							with breathtaking effects!
						%h2.ls-s3.l1-s4{:style => "top:330px; left: 50%; slidedirection : left; slideoutdirection : right; durationin : 1200; durationout : 1200; easingin : easeInOutQuart; easingout : easeInOutQuart; delayin : 5000;"}
							Responsive mode with smart-resize feature of images, videos and text!
						%h2.ls-s3.l1-s3{:style => "top:373px; left: 50%; slidedirection : right; slideoutdirection : left; durationin : 1200; durationout : 1200; easingin : easeInOutQuart; easingout : easeInOutQuint; delayin : 5000;"}
							Now supports easy sublayer-changing option!
						%img.ls-s1{:src => "assets/slider_images/	l16.png", :style => "top: 313px; left: 728px; slidedirection : bottom; slideoutdirection : bottom;	durationin : 8000; durationout : 1500; easingin : easeOutQuart; easingout : easeInOutQuint; delayin : 2000; "}/
						%h1.ls-s2.l1-s2{:style => "top:185px; left: 612px; slidedirection : top;	durationin : 2000; durationout : 1500; easingin : easeOutElastic; easingout : easeInOutQuint; delayin : 1500;"}
							3
						%h1.ls-s2.l1-s2b{:style => "top:185px; left: 612px; slidedirection : fade; slideoutdirection : fade; durationin : 1700; durationout : 2700; easingin : easeInOutQuad; easingout : easeInOutQuad; delayin : 3500; showuntil : 600;"}
							3
						%h2.ls-s3.l1-s4{:style => "top:373px; left: 400px; slidedirection : bottom; slideoutdirection : left; durationin : 1000; durationout : 1000; delayin : 3000; showuntil : 1000;"}
							and the most advanced user interface!
					.ls-layer{:style => "slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;"}
						%img.ls-tn{:src => "assets/slider_images/	tn_1_3.jpg"}/
						%img.ls-bg{:src => "assets/slider_images/	l3.jpg"}/
						%img.ls-s4{:src => "assets/slider_images/	l31.png", :style => "top: 173px; left: 324px;	durationin : 5800;"}/
						%img.ls-s3{:src => "assets/slider_images/	l31.png", :style => "top: 123px; left: 226px;	durationin : 5800;"}/
						%img.ls-s2{:src => "assets/slider_images/	l31.png", :style => "top: 250px; left: 260px;	durationin : 5800; durationout : 1300; easingout : easeInOutCirc;"}/
						%img.ls-s2{:src => "assets/slider_images/	l31.png", :style => "top: 275px; left: 812px;	durationin : 5800;"}/
						%img.ls-s3{:src => "assets/slider_images/	l32.png", :style => "top: 236px; left: 744px;	durationin : 5600; easingin : easeOutQuad;"}/
						%img.ls-s5{:src => "assets/slider_images/	l33.png", :style => "top: 291px; left: 731px;	durationin : 2500; easingin : easeOutCirc;"}/
						%img.ls-s5{:src => "assets/slider_images/	l34.png", :style => "top: 255px; left: 517px;	durationin : 2500; easingin : easeOutCirc;"}/
						%img.ls-s6{:src => "assets/slider_images/	l36.png", :style => "top: 223px; left: 518px;	durationin : 2000; durationout : 3000; easingin : easeOutCirc; easingout : easeInOutExpo; delayin : 1000; showuntil : 1;"}/
						%img.ls-s6{:src => "assets/slider_images/	l36.png", :style => "top: 134px; left: 613px;	durationin : 2000; durationout : 2000; easingin : easeOutExpo; delayin : 3300;"}/
						%img.ls-s6{:src => "assets/slider_images/	l36.png", :style => "top: 30px; left: 439px;	durationin : 2400; durationout : 2000; easingin : easeOutExpo; delayin : 3500;"}/
						%img.ls-s7{:src => "assets/slider_images/	l35.png", :style => "top: -4px; left: 389px;	durationin : 2000; durationout : 3000; easingin : easeOutCirc; easingout : easeInOutExpo; delayin : 1300; showuntil : 1;"}/
						%img.ls-s7{:src => "assets/slider_images/	l35.png", :style => "top: 133px; left: 372px;	durationin : 2000; durationout : 1700; easingin : easeOutExpo; delayin : 4000;"}/
						%p.ls-s6.l4-s1{:style => "top:170px; left: 60px; slidedirection : fade; slideoutdirection : top;durationin : 1000; delayin : 1300;"}
							You can customize the plugin
						%p.ls-s6.l4-s1{:style => "top:208px; left: 60px; slidedirection : fade; slideoutdirection : top;durationin : 1000; delayin : 1000;"}
							with setting properties.
						%p.ls-s4.l4-s1.l4-s2{:style => "10px; top:300px; left: 100px;"}
							You can modify the easing,
						%p.ls-s7.l4-s1.l4-s2{:style => "top:338px; left: 100px; slidedirection: left;"}
							delay, duration and also the
						%p.ls-s10.l4-s1.l4-s2{:style => "10px; top:376px; left: 100px;"}
							parallax effect.
					.ls-layer{:style => "slidedirection: top; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;"}
						%img.ls-tn{:src => "assets/slider_images/	tn_1_4.jpg"}/
						%img.ls-bg{:src => "assets/slider_images/	l2.jpg"}/
						%p.ls-s2.l2-s1{:style => "top:70px; left: 50px; slidedirection : top; slideoutdirection : top; delayin : 600;"}
							You can use pictures or any
						%p.ls-s3.l2-s1{:style => "top:108px; left: 50px; slidedirection : top; slideoutdirection : top; delayin : 500;"}
							HTML elements as layers
						%p.ls-s6.l2-s1{:style => "top:210px; left: 90px; slidedirection : left; slideoutdirection : left; delayin : 1500;"}
							You can use as much
						%p.ls-s7.l2-s1{:style => "top:248px; left: 90px; slidedirection : left; slideoutdirection : left; delayin : 1550;"}
							sublayers as you want.
						%p.ls-s3.l2-s2{:style => "top:350px; left: 40px; slidedirection : fade; slideoutdirection : bottom; delayin : 3000;"}
							And you can simply set the direction
						%p.ls-s2.l2-s2{:style => "top:388px; left: 40px; slidedirection : fade; slideoutdirection : bottom; delayin : 3200;"}
							or fading / timing of sublayers and more!
						%img.ls-s10{:src => "assets/slider_images/	l29.png", :style => "top: 155px; left: 454px; slidedirection : bottom; durationin : 1000; durationout : 1000; easingin : easeOutExpo; delayin : 1000; showuntil : 1000;"}/
						%img.ls-s10{:src => "assets/slider_images/	l29b.png", :style => "top: 155px; left: 454px; slidedirection : bottom; durationin : 1000; durationout : 1000; easingin : easeOutExpo; delayin : 3000;"}/
					.ls-layer
						%img.ls-tn{:src => "assets/slider_images/	tn_1_7.jpg"}/
						%img.ls-bg{:src => "assets/slider_images/	l4.jpg"}/
						%img.ls-s2{:src => "assets/slider_images/	l45.png", :style => "top: 30px; left: 50%;	durationin : 3000; durationout : 3000; easingin : linear; easingout : linear; showuntil : 1;"}/
						%img.ls-s5{:src => "assets/slider_images/	l44.png", :style => "top: 30px; left: 120px;	durationin : 3500; easingin : easeOutExpo; delayin : 300;"}/
						%a.ls-s2{:href => "http://codecanyon.net/item/layerslider-the-parallax-effect-slider/922100?ref=kreatura", :style => "top: 130px; left:670px; display: block;	durationin : 2000; easingin : easeOutElastic; delayin : 1800; ", :target => "_blank"}
							%img{:src => "assets/slider_images/	getnow.png"}/
						%a.ls-s3{:href => "http://codecanyon.net/item/layerslider-the-parallax-effect-slider/922100?ref=kreatura", :style => "top: 200px; left:647px; display: block;	durationin : 2000; easingin : easeOutElastic; delayin : 1900; ", :target => "_blank"}
							%img{:src => "assets/slider_images/	thiskickass.png"}/
						%a.ls-s4{:href => "http://codecanyon.net/item/layerslider-the-parallax-effect-slider/922100?ref=kreatura", :style => "top: 270px; left:600px; display: block;	durationin : 2000; easingin : easeOutElastic; delayin : 2000; ", :target => "_blank"}
							%img{:src => "assets/slider_images/	slideshowplugin.png"}/
	.row.home-content
		%p
			SUBMIT:
			%span Product & Project Submission Deadline:
			%strong September 6, 2013
		%p
			VOTE: 
			%span Product Voting: 
			%strong September 16-27, 2013
		%p
			JOIN: 
			%span Awards Ceremony: 
			%strong December 6, 2013

:javascript
	$(document).ready(function(){
		$('#layerslider').layerSlider({
			skinsPath : 'assets/skins/',
			hoverPrevNext : false,
			skin : 'borderlesslight',
			cbInit				: function(element){jQuery('.c-api').append(jQuery('<span>function cbInit() called</span><br>'));},
			cbStart				: function(data){jQuery('.c-api').append( jQuery('<span>function cbStart() called</span><br>'));},
			cbStop				: function(data){jQuery('.c-api').append( jQuery('<span>function cbStop() called</span><br>'));},
			cbPause				: function(data){jQuery('.c-api').append( jQuery('<span>function cbPause() called (pauseOnHover)</span><br>'));},
			cbAnimStart			: function(data){jQuery('.c-api').append( jQuery('<span>function cbAnimStart() called, current layer is: '+data.curLayerIndex+', next layer is: '+data.nextLayerIndex+'</span><br>'));},
			cbAnimStop			: function(data){jQuery('.c-api').append( jQuery('<span>function cbAnimStop() called</span><br>'));},
			cbPrev				: function(data){jQuery('.c-api').append( jQuery('<span>function cbPrev() called</span><br>'));},
			cbNext				: function(data){jQuery('.c-api').append( jQuery('<span>function cbNext() called</span><br>'));}
		});
	});					