.container.home-page
	.row.banner
		=image_tag "home_test.png"
	.row.home-content
		%p
			SUBMIT:
			%span Product & Project Submission Deadline:
			%strong September 6, 2013
		%p
			VOTE: 
			%span Product Voting: 
			%strong September 16-27, 2013
		%p
			JOIN: 
			%span Awards Ceremony: 
			%strong Decembger 6, 2013