- @current_section = :submission


.row.search-submissions-page
	.container
		.row.first-row{:style=>"height: 500px;"}
			%h1{:style=>"color: rgb(247, 151, 39);"} SEARCH
			%h1{:style=>"margin-left: 150px; color: rgb(247, 151, 39);"} SUBMISSIONS PAGE
	
