- @current_section = :submission


.row.submission-landing-page
	.container
		.row.first-row

		.row.second-row
			.span3.left-box
				.left-box-content
					%h4 Hi #{current_user.fullname}!
					%h5 Start a new submission:
				= link_to "Submit Project", submission_step_index_path.to_s+'?type=project', :class=>"c_btn lc_btn yc_btn"
				= link_to "Submit Product", submission_step_index_path.to_s+'?type=product', :class=>"c_btn lc_btn yc_btn"
			.span3.center-box
				.center-box-content
					- unless @editing_submissions.blank?
						%h5 Resume an active submission:
						- @editing_submissions.each do |editing_submission|
							%p
								= link_to editing_submission.title, home_edit_submission_path.to_s + '?id='+ editing_submission.id.to_s
					- else
						%p You have no open submissions.
			.span3.right-box
				.right-box-content
					%h5 Your account:
				%a.c_btn.yc_btn.lc_btn{:href => "#"} Edit Information
				%a.c_btn.yc_btn.lc_btn{:href => "#",:style=>"height: 80px;padding-top:16px;"} View &nbsp; Finished &nbsp; Submissions


			
/				%h4 Submited submission:			
/				- @submited_submissions.each do |submited_submission|
/					%p
/						= link_to submited_submission.title, payment_process_path