- @current_section = :vote


.container.vote-page
	.span9.content-page
		.row.first-row
			.vote-page-title
		.row.second-row
			= image_tag 'photos/vote.jpg', :alt => '', :title => ''
		.row.third-row
			%p
				Best of Year Product Design finalists will be selected by interior designers and architects via an online vote, taking place
			%p
				%strong September 16-27, 2013
			%p Finalists will be posted online in November
			%p Winners will be chosen by Editor in Chief Cindy Allen and a jury of design leaders, and announced live December 5, 2013 during a celebration in New York City.
