.container.vote-page
	.span9.content-page
		.row.first-row
			%a{:href=>"#", :style=>""} 
				.vote-page-title
		.row.second-row
		.row.third-row
			.span10
				%label 
					Best of Year Product Design finalists will be selected by interior designers and architects via an online vote, taking place
				%label
					%strong September 16-27, 2013
				%br/
				%p Finalists will be posted online in November
				%br/
				%p Winners will be chosen by editor in chief cindy allen and a jury of design leaders, and announced live November 29 during a celebration in New York City. Winners will be featured in the December issue of Interior Design
