.event-page{
	.content-page{
		background-color: #ff3300;
		color: white;
		width: 800px;
		padding-left: 50px;
		padding-right: 50px;
    padding-bottom: 40px;
		.first-row{
			margin-top: 50px;
			.event-page-title{
				height: 60px;
				width: 190px;
				background: url("stripe.png") repeat scroll -426px -84px transparent;
			}
		}
		.second-row{
			margin-top: 30px;
			margin-bottom: 30px;
			.video-content{
        text-align: center;
        background: #000;
        height: 593px;
        overflow: hidden;
        param {display: none;}
        embed, object, video {margin: 0; padding: 0;}
			}
		}
		.third-row{
			p{
				font-size: 16px;				
			}
			label.black, p.black{
				color:black;
				font-weight: bolder;
			}
		}
	}
}