// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inner{
	.banner-box{
		height: 100px; 
		margin-left: 0px;
		border: solid 1px;
		margin-bottom: 5px;
		.search-box{
			float: right;
			margin-top: 30px;
			margin-left: 0px;
			.row{
				margin-left: 0px;
			}
			.span1, .span2, .span3{
				margin-left: 0px;
			}
			.span2{
				width: 200px;
			}
			.span1{
				a{
					color: blue;
					font-size: 14px;
					font-weight: bold;
					&:hover{
						background-color: transparent;
					}
				}
			}
			.span3{
				margin-top: 5px;
			}
		}
	}
	.nav-collapse{
		ul.nav{
			padding-top: 10px;
			margin-bottom: 10px;
		}
		.search-box{
			max-width: 200px;
			min-width: 200px;
		}
	}
}
