// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash-banner {
  //#notice-message, #alert-message,
  .flash.notice, .flash.alert {
    z-index: 999;
    left:10px;
    -moz-border-radius : 4px;
    border-radius : 4px;
    padding: 5px 8px;
    margin: 0 auto 10px;
    text-align:center;
  }

  //#notice-message,
  .flash.notice {
    background-color: #CCFFCC;
    border: 1px solid #66CC66;
    left: 19%;
    width: 60%;
    z-index: 9999;
  }


  #alert-message,
  .flash.alert {
    background-color: #FCC;
    border: solid 1px #C66;
  }
}



.navbar-inner{
	border: none;
	position: relate;
	[class*="span"]{
    margin-left:0px;
  }
  .banner{
  	margin-left: 0px;
  }
	.banner-box{
		height: 160px; 
		margin-left: 0px;
		margin-bottom: 5px;
		margin-top: 10px;
		.search-box{
			float: right;
			margin-top: 30px;
			margin-left: 0px;
			.row{
				margin-left: 0px;
			}
			.span1, .span2, .span3{
				margin-left: 0px;
			}
			.span2{
				width: 200px;
			}
			
			.span3{
				margin-top: 5px;
			}			
			.search-form{
				ul{
					float: right;
					li{
						float:left;
						list-style: none;
						.out_avatar{
							flaot: left;
							margin-left: 10px;
							width: 30px;
							height: 30px;
							background: url("stripe.png") repeat scroll -8px -6px transparent;
							&:hover{
								background: url("stripe.png") repeat scroll -244px -6px transparent;	
							}
						}
						.in_avatar{
							flaot: left;
							margin-left: 10px;
							width: 30px;
							height: 30px;
							background: url("stripe.png") repeat scroll -8px -6px transparent;
							&:hover{
								background: url("stripe.png") repeat scroll -244px -6px transparent;	
							}
						}
					}
				}
				.navbar-search{
					.icon-search{
						position:absolute;
						top:0px;
						left:6px;
						cursor:pointer;
						width: 26px;
						height: 26px;
						background: url("stripe.png") repeat scroll -475px -8px transparent;
						&:hover{
							background: url("stripe.png") repeat scroll -504px -8px transparent;
						}
					}
				}
			}
			.account-controls{
				ul{
					float: right;
					li{
						float: left;
						list-style: none;
						a{
							color: black;
							font-size: 12px;
							font-weight: bold;
              text-transform: lowercase;
							&:hover{
								color: rgb(247, 151, 39);
								text-decoration: none;
							}
						}
					}
					li.first:after{
						content: "|";
						margin-left: 5px;
						margin-right: 5px;
					}
				}				
			}
		}
	}
	.nav-top-bar{
		margin-left: 0px;
		background-color: black;
		height: 50px;
		.nav-collapse{
			background-color: black;
			ul.nav{		
				padding-top: 5px;
				margin-bottom: 10px;
        > li > span {display: inline-block;}
				li{
					a, span{
            padding-top: 10px;
            padding-bottom: 10px;
						color: white;
						padding-left: 8px;
						padding-right: 8px;
					}
					ul.dropdown-menu:before{
						display: none !important;
					}
					ul.dropdown-menu:after{
						display: none !important;
					}
					ul.dropdown-menu{
						border-radius: 0;
						background-color: black;
						color: white;
						margin-top: 0px;
						li{							
							padding-left: 5px;
							padding-right: 5px;
							a, span{
								background-color: transparent;
								border-bottom: solid 1px #fff;
								padding-bottom: 10px;
    						padding-top: 10px;
              }
							a:hover{
								background-color: black;
								background-image: none;
								text-shadow: none;
							}
							&:hover{
								background-color: black;
							}
						}
						li.last{
							a{
								border-bottom: none;
							}
						}						
					}
				}
				li.menu-submit{
					a{
						color: white;
						text-shadow: none;
						font-weight: bold;
						&:hover, &.current{
							color: #ffff00;
						}
					}
					.dropdown-menu{
						a{
							color: white;
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #ffff00;
							}
						}
					}
				}
				li.menu-vote{
					a{
						color: white;
						font-weight: bold;
						text-shadow: none;
						&:hover, &.current{
							color: #ff8348;
						}
					}
					.dropdown-menu{
						a{
							color: white;
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #f69826;
							}
						}
					}
				}
				li.menu-event{
					a{
						color: white;
						font-weight: bold;
						text-shadow: none;
						&:hover, &.current{
							color: #ff3300;
						}
					}
					.dropdown-menu{
						a{
							color: white;							
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #ff3300;
							}
						}
					}
				}
				li.menu-faq{
					a{
						color: white;
						font-weight: bold;
						text-shadow: none;
						&:hover, &.current{
							color: #ff007c;
						}
					}
					.dropdown-menu{
						a{
							color: white;							
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #ff007c;
							}
						}
					}
				}
				li.menu-winner{
					a{
						color: white;
						font-weight: bold;
						text-shadow: none;
						&:hover, &.current{
							color: #01fefc;
						}
					}
					.dropdown-menu{
						a{
							color: white;							
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #01fefc;
							}
						}
					}
				}
				li.menu-interior{
					a{
						color: white;
						font-weight: bold;
						text-shadow: none;
						&:hover, &.current{
							color: #555;
						}
					}
					.dropdown-menu{
						a{
							color: white;							
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #555;
							}
						}
					}
				}
				li.menu-account{
					a, span{
						color: white;
						font-weight: bold;
						text-shadow: none;
            &:hover, &.current {
              color: #00ff00;
            }
          }
					.dropdown-menu{
						a{
							color: white;							
							text-shadow: none;
							font-weight: bold;
							&:hover, &.current {
								color: #00ff00;
							}
						}
					}
				}
			}
			.search-box{
				max-width: 200px;
				min-width: 200px;
			}
		}
		.social-container{
			float:right; 
			margin-right: 0px;
			margin-top: 10px;
			.social-icon{
				div{
					background: url('stripe.png');
					float: left;			
					width: 32px;
					height: 32px;
				}
				.twitter{
					background-position: -76px -3px;
					&:hover{
						background-position: -312px -7px;
					}
				}
				.facebook{
					background-position: -108px -3px;
					&:hover{
						background-position: -344px -7px;
					}
				}
				.linkdin{
					background-position: -140px -3px;
					&:hover{
						background-position: -376px -7px;
					}
				}
				.tumblur{
					background-position: -172px -3px;
					&:hover{
						background-position: -408px -7px;
					}
				}
				.newsleter{
					background-position: -206px -3px;
					&:hover{
						background-position: -440px -7px;
					}
				}
			}			
		}
		
	}
	
}

footer{
	margin-top: 30px;
	border-top: solid 1px black;
  width: 100%;
  color: black;
  text-align: center;
  .row {text-align: center;}
	.footer-menu{
    display: inline-block;
    margin: 30px auto 0 auto;
    padding: 0;
    width: auto;
    max-width: 100%;
		li{
			list-style: none;
			float: left;
      font-size: 13px;
			a{
				color: black;
			}
		}		
	}
//  .footer-menu:after {
//    content: "."; clear: both; display: block; visibility: hidden; font-size: 0;
//  }
	.footer-menu li:after{
		content: "|";
		margin-right: 3px;
	}
	.footer-menu li.last:after{
		content: " ";
	}
  .row.details {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 13px;
    a {color: black;}
  }
}


.home-page{
	.first-row{

	}
	.home-content{
		margin-top: 20px;
		p{
			color: rgb(247, 151, 39);
			font-weight: bold;
			font-size: 18px;
			margin-botton: 3px;
			span{
				color: black;
				font-weight: 100;				
			}
			strong{
				color: black;
			}
		}
	}
}

.form-actions{
	border-top:none;
	background: none !important;
}