// Place all the styles related to the payment_process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select-submission-page{
	.btn{
		color: white;
	}
}
.input-card-info-page{
	.content-page{
		background-color: #ffff00;
		padding-left: 40px;
		.first-row{
			margin-top: 50px;
			margin-bottom: 40px;
			.checkout-page-title{
				width: 196px;
				height: 34px;
				background: url("stripe.png") repeat scroll -454px -328px transparent;
			}				
		}		
		.control-group{
			.controls{
				input{
					background-color: transparent;
				}
				select{
					background-color: transparent;
					border: solid 1px;
					border-radius: 0px;
				}
			}
		}
	}	
}
.content-page{
	background-color: #ffff00;
	padding-left: 40px;
	.first-row{
		margin-top: 50px;
		margin-bottom: 40px;
		.checkout-page-title{
			width: 196px;
			height: 34px;
			background: url("stripe.png") repeat scroll -454px -328px transparent;
		}	
	}
	
}
