// Place all the styles related to the submission_step controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_submission{
	.actions{
		.btn{
			color: white;
		}
	}
	.submission-product-page-title{
		width: 500px;
		height: 62px;
		background: url("stripe.png") repeat scroll -6px -236px transparent;
		margin-bottom:30px;
	}
	.submission-project-page-title{
		width: 500px;
		height: 62px;
		background: url("stripe.png") repeat scroll -2px -156px transparent;
		margin-bottom:30px;
	}
}
.submission-landing-page{
	.second-row{
		.span3{
			width: 299px;
			height: 530px;
			background-color: #ffff00;
		}
		
		.left-box{			
			.left-box-content{
				margin-left: 30px;
				margin-top: 50px;
				h4,h5{
					margin-top: 80px;
				}
			}
			a{
				margin-left: 30px;
			}
		}
		.center-box{
			border-right: solid 1px;
			border-left: solid 1px;
			h5{
				margin-top: 180px;
			}
			.center-box-content{
				margin-left: 30px;
			}
			a{
				color: #6a63f6;
				font-size: 16px;
				font-weight: bold;
				text-decoration: none;
				&:hover{
					background-color: transparent;
					color: blue;
				}
			}
		}	
		.right-box{
			.right-box-content{
				margin-left: 30px;
				h5{
					margin-top: 180px;
				}
			}			
			a{
				margin-left: 30px;
			}
		}
	}
	
}

.input-submission-info-page{
	.content{
		background-color: #ffff00;
		padding-top: 50px;
		padding-left: 50px;
		h4{
			span{
				font-weight: normal;
			}
		}
		.control-group{
			margin-bottom: 10px;
			.file-upload-box{
				.row{
					height: 40px;
					.parsley-error-list{
						margin-left: 0px;
						li{
							position: absolute;
							margin-top: 2px;
							margin-left: 450px;
						}
					}
				}

			}

			.control-label{
				text-align: left;
				font-size: 16px;
				font-weight: 300;
				width: 200px;
			}
			input{
				background-color: transparent;
				height: 18px;
			}		
			textarea{
				background-color: transparent;
				border: 1px solid black;
				border-radius:0px; 
				height: 50px;
				width: 810px;
				max-width: 810px;
				min-width: 410px;
				min-height: 50px;
				&:hover{
					box-shadow:none;
				}
				&:focus{
					box-shadow:none;	
				}
			}
			

			.file-upload-filed{
		    z-index: 999;
		    line-height: 0;
		    font-size: 30px;
		    position: absolute;
		    opacity: 0;
		    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
		    cursor: pointer;
		    _cursor: hand;
		    margin: 0;
		    padding:0;
		    left:0;
			}

			.upload-btn{
		    background-color: black;
		    border-radius: 5px 5px 5px 5px;
		    color: rgb(255, 255, 255);
		    cursor: pointer;
		    font-size: 16px;
		    height: 30px;
		    line-height: 30px;
		    overflow: hidden;
		    position: relative;
		    text-align: center;
		    width: 120px;
			}
			.temp_path{
				border: 1px solid;
		    float: left;
		    height: 27px;
		    margin-right: 10px;
			}
			#product_spec_introduction_date-gldp{
				background-color: white;
				border-radius: 5px;
			}
			#project_spec_completion_date-gldp{
				background-color: white;
				border-radius: 5px;
			}
		}
	}
	
	.parsley-error-list{
		li{
			list-style: none;
			background-color: #fff;
	    border: 1px solid #dd;
	    border-radius: 4px;
	    margin-top: 5px;
	    padding: 3px 0 3px 10px;
	    width: 200px;
		}
	}
	.submission-box{
		textarea{
			min-width:800px;
			min-height:150px;
			max-width:800px;
			max-height:450px;
			height:150px;
		}
	}
	fieldset{
		border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 25px 20px 15px;
	}
}


.confirm-submission-info-page{
	.content{
		background-color: #ffff00;
		padding-top: 50px;
		padding-left: 50px;
		.submission-product-page-title{
			width: 500px;
			height: 62px;
			background: url("stripe.png") repeat scroll -6px -236px transparent;
			margin-bottom:30px;
		}
		.submission-project-page-title{
			width: 500px;
			height: 62px;
			background: url("stripe.png") repeat scroll -2px -156px transparent;
			margin-bottom:30px;
		}
		.submission-box{
			max-width: 800px;
		}
	}
	.last-row{
		text-align: center;
		.btn{
			color: white;
		}
	}
}


.agree-terms-page{
	background-color: #ffff00;
	padding-top: 50px;
	padding-left: 30px;
	h1{
		color: black;
		font-weight: 300;
	}
	.accept-agree-check{
		background: url('stripe.png');
		background-position: -275px -14px;
		width:16px;
		height: 16px;
		float: left;
		margin-right: 6px;
    margin-top: 3px;
    &:hover{
    	//background-position: -294px -14px;
    }
	}
	.accept-agree-checked{
		background-position: -295px -14px;
	}
}
.select-categories-page{
	padding-top: 50px;
	padding-left: 30px;
	background-color: #ffff00;

	h1{
		color: black;
		font-weight: 300;
	}	
	form.edit_submission{
		.control-label{
			text-align: left;
		}
		.controls{
			margin-left: 0px;
		}
	}
	.control-group{
		.controls{
			.parsley-error-list{
				li{
					list-style: none;
					background-color: #fff;
			    border: 1px solid #dd;
			    border-radius: 4px;
			    margin-top: 5px;
			    padding: 3px 0 3px 10px;
			    width: 200px;
			    position: absolute;
			    margin-left: 500px;
			    margin-top: -30px;
				}
			}
		}
	}
}


