// Place all the styles related to the submission_step controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_submission{
	.actions{
		.btn{
			color: white;
		}
	}
}
.submission-landing-page{
	.btn{
		color: white;
	}
	.center-box{
		a{
			color: #6a63f6;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			&:hover{
				background-color: transparent;
				color: blue;
			}
		}
	}
}
.select-categories-page{
		form.edit_submission{
			.control-label{
				text-align: left;
			}
			.controls{
				margin-left: 0px;
			}
		}
}

.input-submission-info-page{
	.parsley-error-list{
		li{
			list-style: none;
			background-color: #fe63f5;
	    border: 1px solid #dd;
	    border-radius: 4px;
	    margin-top: 5px;
	    padding: 3px 0 3px 10px;
	    width: 200px;
		}
	}
	.submission-box{
		textarea{
			min-width:800px;
			min-height:150px;
			max-width:800px;
			max-height:450px;
			height:150px;
		}
	}
	fieldset{
		border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 25px 20px 15px;
	}
}


.confirm-submission-info-page{
	.last-row{
		text-align: center;
		.btn{
			color: white;
		}
	}
}