// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-user-page{
	.container{
		form{
			.control-group{
				margin-bottom: 10px;
				.control-label{
					text-align: left;
				}
			}
		}
		.page-header{
			margin: 0px;
		}
	}
}