.vote-page{
	.content-page{
		background-color: #ff8300;
		color: white;
		padding-left: 50px;
		.first-row{
			margin-top: 50px;
			h1{
				font-size: 40px;
				font-weight: normal;
			}
			.vote-page-title{
				width: 290px;
				height: 66px;
				background: url("stripe.png") repeat scroll -3px -84px transparent;
			}
		}
		.second-row{
			height: 540px;
		}
	}
}