.vote-page{
	.content-page{
		background-color: #ff8300;
		color: white;
		padding-left: 50px;
		.first-row{
			margin-top: 50px;
			h1{
				font-size: 40px;
				font-weight: normal;
			}
		}
		.second-row{
			height: 540px;
		}
	}
}